/* 样式重置 */
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
} 
.calculate{
    width: 100vw;
    height: 100vh;
    background-color: #f8f7ff;
    border-radius: 20px;
    box-shadow: 3px 3px 4px rgba(183, 173, 228, 0.8);
    padding: 48px 20px 0;
    display: grid;
    grid-template-rows: 30px 145px 1fr;
    gap: 20px;
}

.calculate .header{
    font-size: 0.8em;
    color: #696673;
}
.calculate .display-area{
    justify-self: end;
    align-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.calculate .display-area .equation{
    font-style: 10px;
    color: #cec8e0;
    font-weight: bold;
}

.calculate .display-area .result{
    font-size:47px;
    font-weight: bold;
    color: #80779a;
}
.calculate .keyboard-area{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    height: calc(100vw + 50px);
}
.keyboard-area .key{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(198, 193, 216, 0.42),
    inset 6px 6px 6px rgba(250, 252, 255, 0.48),
    inset -6px -6px 6px rgba(77, 120, 185, 0.22);
    font-size: 20px;
    font-weight: bold;
}
.keyboard-area .key.equal{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(151,127,245);
    color: #fff;
}
.keyboard-area .key.plus{
    background-color: #81d8fb;
    color: #fff;
}
.keyboard-area .key.minus{
    background-color: #fb81aa;
    color: #fff;
}
.keyboard-area .key.multiple{
    background-color: #fb8181;
    color: #fff;
}
.keyboard-area .key.division{
    background-color: #81fb8f;
    color: #fff;
}

.keyboard-area .key:active{
    box-shadow: inset 0 0 3px rgba(77, 120, 185, 0.22);
}